{% extends "layout.html.twig" %}
{% block content %}
  {{ dump (users) }}
  
  <table>
      <tr>
          <td>Id</td>
          <td>Nom</td>
          <td>Prenom</td>
          <td>Email</td>  
          <td>Adresse</td>

      </tr>
      
      {% for user in users %}
          <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.lastname }}</td>
              <td>{{ user.firstname }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.address }}</td>
          </tr>
      {% endfor %}
  </table>
{% endblock %}